/*CSS RESET START*/
html, body, div {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*CSS RESET FINISH*/

body{
	font-family: Arial;
	min-height: 100%;
	margin-bottom:-20px;
}

.top{
	position:absolute;
	right: 0;
	margin: 10px;
	font-size: 13px;
}

#gmail, #images {
	margin: 10px;
}

#signin{
	height: 36px;
	background-color: #4285F4;

	border: 1px solid #4285F4;
	border-radius: 2px;

	font-size:13px;
	font-weight:bold;
	color:#ffffff;

	padding: 0 10px 0 10px;
	margin: 0 10px 0 10px;
}

#signin:active{
	background-color:#386ABC;
	border: 1px solid #386ABC;
}

.middle{
	position: absolute;
	text-align: center;
	top:200px;
	width:100%;
}

#searchbox{
	font-size: 16px;
	height: 34px;
	width:600px;
	margin: 10px 0 20px 0;
}

#searchbutton, #feelinglucky {
	height: 36px;
	background-color: #f2f2f2;

	border: 1px solid #f2f2f2;
	border-radius: 2px;

	font-size: 13px;
	font-weight: bold;
	color:#555;

	padding: 0 16px;
	margin: 10px 6px 0 6px;
}

#searchbutton:hover, #feelinglucky:hover{
	background-color: #F8F8F8;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #C6C6C6;
	color: #333;
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}

#searchbutton:focus, #feelinglucky:focus{
	border: 1px solid #4d90fe;
	    border-top-width: 1px;
	    border-right-width: 1px;
	    border-bottom-width: 1px;
	    border-left-width: 1px;
	    border-top-style: solid;
	    border-right-style: solid;
	    border-bottom-style: solid;
	    border-left-style: solid;
	    border-top-color: rgb(77, 144, 254);
	    border-right-color: rgb(77, 144, 254);
	    border-bottom-color: rgb(77, 144, 254);
	    border-left-color: rgb(77, 144, 254);
	    border-image-source: none;
	    border-image-slice: 100% 100% 100% 100%;
	    border-image-width: 1 1 1 1;
	    border-image-outset: 0 0 0 0;
	    border-image-repeat: stretch stretch;
}

.footer{
	position:absolute;
	padding: 1em;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	font-size: small;
	height: 20px;
}

.bottomright {
    position: absolute;
    right:0;
    margin-right: 10px;
}

#advertising, #business, #about, #privacy, #terms, #settings{
	margin: 0 10px 0 10px;
	color:#757575;
}

.bottomleft {
	position:absolute;
	left: 0;
	margin-left: 10px;
}

a:link{
	text-decoration: none;
	color:black;
}

a:hover{
	text-decoration: underline;
}
